.header {
  margin-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding: 0;
}

.header__logo {
  width: 173px;
  margin-bottom: 41px;
}

@media screen and (max-width: 480px) {
  .header {
    margin-top: 28px;
  }

  .header__logo {
    margin-bottom: 32px;
    width: 126px;
  }
}
